@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Mukta:wght@400;500;600&display=swap');

/*--------- root -------------*/

:root{
  font-family: 'Mukta', sans-serif;
}

:root p{
  font-family: 'Montserrat', sans-serif;
}
:root label{
  font-family: 'Montserrat', sans-serif;
}

:root input{
  font-family: 'Montserrat', sans-serif;
}

body{
  margin: 0px;
}

/*--------- header -------------*/

header{
  margin: 0px;
  display: flex;
  align-items: center;
  background: #009688;
}

header .material-icons{
  display: none;
}

@media(max-width: 700px)
{
  header .material-icons{
    display: block;
    padding: 10px;
    color: #ffffff;
  }
}

header h1{
  width: 100%;
  padding-left: 20px;
  color: #ffffff;
}
@media(max-width: 700px)
{
  header h1{
    font-size: 20px;
    text-align: center;
    padding-left: 0px;
  }
}


header ul{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  list-style: none;
  padding-right: 40px;
}

header li{
  margin: 5px;
  padding: 5px 15px 5px 15px;
  min-width: 45px;
  background-color: #1fa38d;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;

  transition: .3s;
}

@media(max-width: 700px)
{
  header ul{
    display: none;

  }
}

header li:active{
  background-color: #2c7065;
}

/*--------- bory -------------*/

.section-main{
  min-height: 35em;
  display: flex;
}

@media(max-width: 700px)
{
  .section-main{
    display: flex;
    position: relative;
    justify-content: center;
    margin: 5px;
    background: white;
  }
}


/*--------- Footer -------------*/

footer {
  background: #009688;
}

footer p{
  color: #eff8f7;
  text-align: center;
  margin: 0px;
  padding: 25px;
}

footer a{
  text-decoration: none;
  color: gainsboro;
}

