@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Mukta:wght@400;500;600&display=swap');

.config{
  position: relative;
  width: 99%;
  margin: 0px;
  display: flex;
  background-color: #f1f5f1;
  box-shadow: 0 0 5px 0px #adadad;
  padding: 10px;
  border-radius: 10px;
  align-items: center;

}

.box-text h2{
  padding: 0px;
  margin: 0px;
  color: #1fa38d;
  display: none;
}

@media(max-width: 700px)
{
  .config{
    width: 90%;
    border: 2px solid #2c7065;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0px 2px 4px #969696;
    justify-content: center;
  }

  .box-text h2{
    display: inline;
  }
}

.config i{
  margin-left: 5px;
  margin-right: 5px;
}


@media(max-width: 700px)
{
  .config i{
    margin-left: 2px;
    margin-right: 2px;
    margin: 2px;
    font-size: 20px;
    
  }
}

.config input[type = color]{
  border: none;
  background: none;
}

@media(max-width: 700px)
{
  .config input [type = color]{
    width: 18px;
  }
}

.config input[type = color]:focus{
  outline: none;
}

.font-size{
  width: 35px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
}

.box-align{
  display: flex;
  align-items: center;
  padding-left: 10px;
}
@media(max-width: 700px)
{
  .box-align {
    padding-left: 2px;;
  }

  .font-size{
    text-align: center;
  }
}

.box-align a{
  cursor: pointer;

  transition: .2s;
}

@media(max-width: 700px)
{
  .box-align a{
    margin: 0px;
    font-size: 20px;
  }
}

.box-align a:active{
  color: #2c7065;
}

.box-text{
  margin: 20px;
  width: 100%;
  min-height: 35em;
  display: flex;
  flex-direction: column;
}


@media(max-width: 700px)
{
  .box-text{
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    align-items: center;
    margin: 0px;
    min-height: 0em;

  }
}

.note-text{
  width: 99%;
  border-radius: 5px;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 0 5px 0px #adadad;
  border: none;
  padding: 10px;

  margin-bottom: 5px;
}

@media(max-width: 700px)
{
  .note-text{
    width: 90%;
    border: 2px solid #2c7065;
    min-height: 33em;
    border-top: none;
    border-radius: 0px 0px 0px 0px;
    margin-top: 0px;
    resize: none;
  }
}

.note-text:focus{
  outline: none;
}